header
	position fixed
	top 0
	left 0
	z-index 998
	.header-external-line
		background-color black
		height 12vh
		line-height 12vh
		@media(max-width:768px)
			height 10vh
			line-height 10vh
		.container
			.ext-field
				display block
				.ext-link
					text-decoration none
					transition all 250ms ease-in
					height  12vh
					@media(max-width: 768px)
						height 10vh
					@media(min-width 768px)
						&:hover
							background-color white
							color black
							border-bottom solid 1px #cecece
					color white
					display block
					span
						font-size 20px
					.icon-text
						font-family $font1
						font-size 18px

	.header-section
		width 30vw
		position fixed
		top 0
		height 100vh
		transition all 250ms ease-in-out
		z-index 999
		background-color black
		box-shadow 0px 0px 10px black
		overflow-y auto
		@media(max-width: 768px)
			width 80vw
		.section-top
				height 12vh
				border solid 1px black
				padding 0
				border-bottom solid 1px white
				@media(max-width: 768px)
					height 10vh
				.icon-top
					text-align center
					height 10vh
					a
						text-align center
						line-height 10vh
						span
							font-size 20px
							@media(max-width: 768px)
								font-size 16px
					.close-icon
						position relative
						height 100%
						display block
						transition all 350ms ease-in-out
						&:after
							content " "
							background-color white
							height 2px
							width 25%
							position absolute
							top 50%
							left 50%
							transform rotate(310deg)
							transition all 350ms ease-in-out
						&:before
							content " "
							background-color white
							height 2px
							width 25%
							position absolute
							top 50%
							left 50%
							transform rotate(405deg)
							transition all 350ms ease-in-out
		.section-display
			min-height 88vh
			background-color black
			
			@media(max-width: 768px)
				min-height 90vh
			.section-icon
				display block
				text-decoration none

				.section-icon-content
					max-width 40%
					max-height 40%
					margin 5% 30%
					border-radius 50%
					font-size 100px
					display block
					color white
					text-decoration none
			.menu-options
				margin 0
				padding 0
				.menu-content
					.menu-list
						margin 0
						padding 0
						.menu-list-item
							width 100%
							float left 
							position relative
							list-style none
							height  35px
							background-color black
							border-top solid 1px black
							color white
							padding 0 0 0 50px
							text-transform uppercase 
							font-family $font1
							font-size  20px		
							transition all 250ms ease-in-out					
							.menu-link
								height 100%
								display block
								text-decoration none
								color white
								span
									position absolute
									line-height 35px
									top 0
									left 20px
									transition all 250ms ease-in-out
							&:after
								content " "
								background-color white
								position absolute
								height 100%
								width 0px
								top 0
								left 0
								transition all 250ms ease-in-out
							&:hover, &:focus
								padding-left 55px
								.menu-link
									span
										left 25px
								&:after
									width 5px
									





	.header-section-left:not(.actived)
		left -120vw
		.close-icon
			&:after
				transform rotate(0deg) !important

			&:before
				transform rotate(0deg) !important
		@media(max-width: 768px)
			left -100vw


	.header-section-left
		left 0
		border-right 2px black solid
	.header-section-right:not(.actived)
		right -120vw
		.close-icon
			&:after
				transform rotate(0deg) !important
			&:before
				transform rotate(0deg) !important

		@media(max-width: 768px)
			right -100vw
	.header-section-right
		right 0
		border-left solid 2px black
	.hollback-area
		z-index 998
		top 0
		left 0
		height 100vh
		width 100vw
		padding 0
		margin 0
		background-color alpha(#2e2e2e, 60%)
		z-index 998
		position fixed
		transition all 250ms ease-in-out
	.hollback-area:not(.actived)
		z-index -10
		opacity 0
