header
	//Mobile header
	.header-mobile
		background-color black
		position fixed
		top 0
		left 0
		height 10vh
		box-shadow 1px 1px 10px black
		z-index 999
		.row
			.mobile-switch
				height 10vh
				border-right white solid 1px
				a.menu-switch
					display block
					color white
					font-size 5vh
					text-decoration none
					padding 1.5vh
			.mobile-header-logo
				img
					max-width 7vh
					max-eight 7vh
					padding 1.5vh 0vh

					 
					
		