#home
	padding-top 12vh
	height 100vh
	@media(max-width:768px)
		padding-top 10vh
	.home-slider
		height 100%
		width  100%
		float left
		.slick-list
			height 100% !important
			display block
			.slick-track
				height 100%
				display block
				.slide
					background-size cover
					background-position center center
					height 100%
					display block
					.overlay
						display block
						height 100%
						width 100%
						float left
						background-color alpha(black, 40%)
						.container
							height 100%
							.text-title
								padding-top 20%
								color white
								font-family $font1
								text-shadow 0px 0px 5px black
								font-size 22px
							.text-subtitle
								color white
								font-family $font1
								font-weight 300
								text-shadow 0px 0px 5px black
								font-size 20px

				.slide1
					background-image url('assets/img/banner-reduza.jpg')
				

				