#home
	height 100vh
	@media(max-width:992px)
		margin-top 10vh !important
	.home-slider
		height 100%
		width  100%
		float left
		.slick-list
			height 100% !important
			display block
			z-index 900
			.slick-track
				height 100%
				display block
				.slide
					background-size cover
					height 100%
					display block
					.overlay
						display block
						height 100%
						width 100%
						float left
						background-color alpha(black, 40%)
						.container
							height 100%
							text-align center

							.text-title
								padding-top 20%
								color white
								font-family $font1
								text-shadow 0px 0px 5px black
								font-size 22px
							.text-subtitle
								color white
								font-family $font1
								font-weight 300
								text-shadow 0px 0px 5px black
								font-size 20px
								margin-bottom 20px
							a
								padding 10px 5px
								color white
								border-radius 5px
								margin auto
								width 150px
								z-index 1050
								text-decoration none
								transition all 250ms ease-in-out
								box-shadow 0px 0px 5px black
								&:hover
									box-shadow 0px 0px 5px white
