.services-content
  .container
    background-color #fafafa
    .services-row
      .services-item
        margin 20px 0
        .services-item-field
          background-color #111
          border solid 1px white
          color white
          padding 15px
          transition all 250ms ease-in-out
          &:hover
            background-color black
          .services-item-title
            display block
            text-align center
            padding-bottom 10px
            border-bottom solid 1px white
            font-size 1.5em
          .services-item-exerpt
            display block
            text-align justify
            font-size 1em
        .talk-to
          text-align center
          border solid 1px white
          background-color #111
          transition all 250ms ease-in-out
          color white
          &:hover
            background-color black
            text-decoration none
            text-shadow 0px 0px 1px white
        .know-more
          text-align center
          border solid 1px white
          background-color #111
          transition all 250ms ease-in-out
          color white
          &:hover
            background-color black
            text-decoration none
            text-shadow 0px 0px 1px white
