.equipment-post
  .container
    .post-header
      text-align center
      border-bottom solid 1px black
      .post-title
        h3
          text-align center
          padding-top 25%
        .equipment-post-img
          background-color #fafafa
          padding 0 40px
          text-align center
          img
            max-width 100%
            height auto
            display block
            text-align center
            margin auto
            @media(max-width: 991px)
              max-height 20vh !important
            @media(min-width: 992px)
              max-height 50vh !important
    .post-content, .post-info
      text-align justify
      padding-top 20px

    .post-info
      background-color black
      color white
      padding-bottom  20px
      .post-info-line
        padding 5px 0
        font-size 1.3em
