.service-post
  .container
    .post-header
      text-align center
      .post-title
        h3
          text-align center
          padding 5%
        .service-post-img-field
          background-color #fafafa
          padding 0 40px
          text-align center
          img
            max-width 100%
            height auto
            display block
            text-align center
            margin auto
            @media(max-width: 991px)
              max-height 20vh !important
            @media(min-width: 992px)
              max-height 50vh !important
